@charset "utf-8";
/* CSS Document */

/* 设置提示文字颜色 */  
::-webkit-input-placeholder {  
color: #838383;  
}  
:-moz-placeholder {  
color: #838383;  
}  
.placeholder {  
color: #ccc;  
}  

.control {
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid #c1c1c1;
    font-size: 14px;
    line-height: 20px;
    height: 26px;
    width: 250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    padding-left: 4px;
    color:#666;
    display:block;
    position:relative;
}

.input_public {
    margin-top:10px;
    margin-bottom:10px;
    border: 1px solid #c1c1c1;
    font-size: 14px;
    line-height: 20px;
    height: 26px;
    padding-left: 4px;
    width: 250px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 10px;
    padding-left: 4px;
    color:#666;
    display:block;
    position:relative;
}

.input-text {
}
.input-check {
    width:16px;
	height:32px;
    font-size: 100%;
    vertical-align: middle;
}

.color-value {
    color: #000;
}

.color-placeholder {
    color: red;
}
