<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />


  <!--数据库配置-->
  <add key="ConnectionString" value="Data Source=27.154.234.10,3341;database=fcake_dev;uid=fcake_admin;pwd=fcake_admin;" />

  <!--系统配置信息-->
  <!--后台地址-->
  <add key="BackendUrl" value="http://27.154.234.10:9001" />
  <!--系统配置信息结束-->

  <!--支付宝-->
  <add key="alipay_partner" value="2088121604422071"/>
  <add key="alipay_key" value="hihg6xvax8x6w143zwp59711azn7ednr"/>
  <add key="alipay_email" value="fcakepay@fancake.cn"/>
  <add key="alipay_notify" value="http://localhost:8045/cart/AlipayNotify"/>
  <add key="alipay_return" value="http://localhost:8045/cart/AlipayReturn"/>
  <add key="alipay_ip" value=""/>
  <!--客户端IP地址-->
  <!--支付宝 结束-->

  <!--财付通-->

  <add key="tenpay" value="1"/>
  <!--商户号-->
  <add key="tenpay_bargainor_id" value="1230898301"/>
  <!--密钥-->
  <add key="tenpay_key" value="2e08399b432ab902061ad4fa569a7f7f"/>
  <!--返回地址-->
  <add key="tenpay_return" value="http://localhost:8045/Tenpay/return"/>
  <!--通知地址-->
  <add key="tenpay_notify" value="http://localhost:8045/Tenpay/notiry"/>

  <!--财付通结束-->
  <!--手机短信接口-->


  <!--验证码、物流通道账号-->
  <!--
  <add key="echi_account" value="600024"/>
  <add key="echi_password" value="8TDKMV28J7XXX"/>
  -->
  <!--优惠券、活动通知通道账号-->
  <!--
  <add key="echi_normal_account" value="600045"/>
  <add key="echi_normal_password" value="6S9FNF5BWUXXX"/>
  <add key="echi_format" value="尊敬的用户，您的验证码为 {0},本验证码一小时内有效。【枫客】"/>
  <add key="echi_format1" value="您已成功下单 {0}。【枫客】"/>
  -->
  <!--手机短信接口 结束-->

  <!--短信 开始-->
  <!--阿里大鱼短信 开始-->
  <add key="DaYuUrl" value="xxhttp://gw.api.taobao.com/router/rest"/>
  <add key="DaYuAppKey" value="23392155"/>
  <add key="DaYuAppSecret" value="4190039934ea791bb49de1c24c2f6f14"/>
  <add key ="SMSSignName" value="枫客蛋糕"/>
  <!--通用验证码模板-->
  <add key="SMSCodeCommonTemplate" value="SMS_10810622"/>
  <!--订单通过模板-->
  <add key="OrderApproveTemplate" value="SMS_10840803"/>
  <!--开始配送模板-->
  <add key="BeginDeliveryTemplate" value="SMS_10840804"/>
  <!--订单审核不通过模板-->
  <add key="OrderAuditNotThroughTemplate" value="SMS_10885669"/>
  <!--验证码短信发送量异常模板-->
  <add key="VerifyCodeSMSExceptionTemplate" value="SMS_11445251"/>
  <!--开发人员手机号-->
  <add key="DeveloperMobile" value="15659267689,13400693554"/>
  <!--5分钟内限制短信验证码条数-->
  <add key="SendVerifyCodeLimitCount" value="100"/>
  <!--x分钟内限制短信验证码条数的分钟数（正整数）-->
  <add key="SendVerifyCodeLimitMinute" value="5"/>
  <!--阿里大鱼短信 结束-->

  <!--叮咚营销短信 开始-->
  <add key ="DingDongUrl" value="xxhttps://api.dingdongcloud.com/v1/sms/sendyx"/>
  <add key ="DingDongAppKey" value="44b65a9ef655aeb06360ab4a9e9d1bdb"/>
  <add key ="DingDongSignName" value="枫客蛋糕"/>
  <!--叮咚营销短信 结束-->
  <!--短信 结束-->

  <!--产品类型为其他的数据字典值-->
  <add key ="other_product_type_dicvalue" value="other"/>
  <!--积分抵扣现金比例 默认50即50积分抵扣1元-->
  <add key="integral_deduction_cash_rate" value="50"/>

  <!--注册时赠送优惠券-->
  <add key ="register_coupons_title" value="新会员注册优惠"/>
  <add key ="register_coupons_quantity" value="0"/>
  <add key ="register_coupons_denomination" value="20"/>
  <add key ="register_coupons_conditionmoney" value="0"/>
  <add key ="register_coupons_issendsms" value="1"/>
  <!--注册时赠送优惠券 结束-->
</appSettings>
