@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="container" style="font-family: 'Microsoft YaHei'; ">
    <div class="row" style="height: 5%;">
        <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12 " style="background-color: #aa6915;">
            <img src="~/Content/images/PersonalCenter/l_arrow.png" style="height:21px; width:20px; margin-top:15px; float:left" onclick="back()" />
            <span class="col-xs-10 col-sm-11 col-md-11 col-lg-11" style="text-align: center; line-height: 50px; color: #FFFFFF; font-family: 'Microsoft YaHei'; font-size: 1.25em;">收货地址</span>
            <a href="~/Member/EditAddress">
                <img src="~/Content/images/PersonalCenter/plus.png" style=" height:21px; width:21.5px; float:right; margin-top:15px;" />
            </a>
    </div>

    </div>
    <div class="address_1">
        <div style="margin-left:5%;width:79%; float:left;">
            <div class="address_text address_text_margin">
                <span class="text-1">赵六</span>
                <span style="margin-left:40px;">18959041767</span>
            </div>
            <div class="address_text text-2">收货地址：福建省厦门市思明区观音山商务国际营运中心4号楼1003</div>            
        </div>
        <div style="float:left;margin-left:3.5%;line-height:100px;">
            <img src="~/Content/images/address_1.png" width="20" height="29" />
        </div>
    </div>
 </div>
