@using FCake.Domain.Entities
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewBag.Title = "我的代金卡";
    var giftCardList = ViewBag.GiftCardList as List<GiftCardDetail>;
}

<link href="~/Content/form.css" rel="stylesheet" />


<div class="container" style="font-family: 微软雅黑; overflow:hidden; overflow-y:hidden; ">

    <div class="row" style="height: 5%;">
        <div class="col-xs-12 col-sm-12  col-md-12  col-lg-12 " style="background-color: #bd9663;">
            <img src="~/Content/images/PersonalCenter/l_arrow.png" style="height:21px; width:14px; margin-top:15px; float:left" onclick="back()" />
            <span class="col-xs-10 col-sm-11 col-md-11 col-lg-11" style="text-align:center; line-height:50px; color:#FFFFFF; font-family: 'Microsoft YaHei';font-size: 1.25em;">我的代金卡</span>
            <img src="~/Content/images/PersonalCenter/index.png" style=" height:19px; width:20px; float:right; margin-top:15px;" onclick="backHome()" />
        </div>
    </div>
    <br />

    <div id="form1" role="form" class="form-horizontal table-list">
        @if (giftCardList != null)
        {
            foreach (var giftCard in giftCardList)
            {
                <div class="coupon-info">
                    <ul class="couponinfo-left">
                        <li class="couponinfo-title">代金卡</li>
                        <li class="adjust-lineheight coupon-color">使用日期：<time>@giftCard.EndValidDate.ToString("yyyy.MM.dd")</time></li>
                        <li class="coupon-color">使用订单号：@giftCard.UseOrderSN</li>
                    </ul>

                    <ul class="couponinfo-right">
                        <li>￥<span class="couponinfo-money">@giftCard.Denomination.ToString("N2")</span></li>
                    </ul>
                </div>
            }
        }
    </div>

</div>
