<div class="footer">
    <div class="wallbox clearfix">
        <div class="l">
            <p>订购专线：4000569565 |客服电话：4000-569-565 |客服邮箱：service@fancake.cn</p>
            <p>Copyright©fancake官网商城2013-2023，版权所有 闽ICP备14021965号</p>
            <div class="nav">
                <a href="/Home/ContactUs">联系我们</a>
                <a href="/Home/OrderHelp">订购帮助</a>
                <a href="/Home/Cooperation">企业试吃</a>
            </div>
        </div>
        <div class="r">
            <img src="@Url.Content("~/content/images/2wm.png")" />
        </div>
    </div>
</div>