<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <!--数据库配置-->
  <add key="ConnectionString" value="Data Source=27.154.234.10,3341;database=fcake_dev;uid=fcake_admin;pwd=fcake_admin;" />
  <!--系统配置信息-->
  <!--后台地址-->
  <add key="sys_baseurl" value="http://27.154.56.178:9001" />
  <!--多个IP以逗号隔开,value为空为不限制访问(例子value="27.154.234.10,::1")-->
  <add key="sys_allowaccessips" value="" />
  <!--系统配置信息结束-->

  <!--手机短信接口-->
  <!--
  -->
  <!--验证码、物流通道账号-->
  <!--
  <add key="echi_account" value="600024"/>
  <add key="echi_password" value="8TDKMV28J7XXX"/>
  -->
  <!--优惠券、活动通知通道账号-->
  <!--
  <add key="echi_normal_account" value="600045"/>
  <add key="echi_normal_password" value="6S9FNF5BWUXXX"/>
  
  <add key="echi_format" value="尊敬的用户，您的验证码为 {0},本验证码一小时内有效。【枫客】"/>
  <add key="echi_format1" value="您已成功下单 {0}。【枫客】"/>
  -->
  <!--手机短信接口 结束-->

  <!--短信 开始-->
  <!--阿里大鱼短信 开始-->
  <add key="DaYuUrl" value="xxhttp://gw.api.taobao.com/router/rest"/>
  <add key="DaYuAppKey" value="23392155"/>
  <add key="DaYuAppSecret" value="4190039934ea791bb49de1c24c2f6f14"/>
  <add key ="SMSSignName" value="枫客蛋糕"/>
  <!--通用验证码模板-->
  <add key="SMSCodeCommonTemplate" value="SMS_10810622"/>
  <!--订单通过模板-->
  <add key="OrderApproveTemplate" value="SMS_10840803"/>
  <!--开始配送模板-->
  <add key="BeginDeliveryTemplate" value="SMS_10840804"/>
  <!--订单审核不通过模板-->
  <add key="OrderAuditNotThroughTemplate" value="SMS_10885669"/>
  <!--阿里大鱼短信 结束-->

  <!--叮咚营销短信 开始-->
  <add key ="DingDongUrl" value="xxhttps://api.dingdongcloud.com/v1/sms/sendyx"/>
  <add key ="DingDongAppKey" value="44b65a9ef655aeb06360ab4a9e9d1bdb"/>
  <add key ="DingDongSignName" value="枫客蛋糕"/>
  <!--叮咚营销短信 结束-->
  <!--短信 结束-->

  <!--产品类型为其他的数据字典值-->
  <add key ="other_product_type_dicvalue" value="other"/>
  <!--积分抵扣现金比例 默认50即50积分抵扣1元-->
  <add key="integral_deduction_cash_rate" value="50"/>
  <!--公司内部账号（用逗号隔开），不累计积分成长值-->
  <add key="internal_account" value ="18950120356,18559780591,18059047511"/>
</appSettings>