<div id="review" class="easyui-dialog" style="width:300px;height:200px"
     data-options="title:'我的对话框',modal:true,closed:true,
			buttons:[{
				text:'同意',
				handler:function(){}
			},{
				text:'不同意',
				handler:function(){}
			}]">
    <div><label>审批意见</label></div>
    <div style="width:99%; margin:3px;">
        <textarea id="Remark" name="Remark" style="height:70px; width:98%"></textarea>
    </div>
</div>

