@{
    ViewBag.Title = "FavorableInfo";
    Layout = "~/Views/Shared/_LayoutEdit.cshtml";

}
<link href="~/Content/themes/default/addOrder.css" rel="stylesheet" />
<div class="wrap">
    @Html.Partial("_PartialCouponsInfo")
    @Html.Partial("_PartialGiftCards")
    @Html.Partial("_PartialIntegralLog")
    @Html.Partial("_PartialGrowthLog")
</div>
