@charset "utf-8";
/* CSS Document */


/*.aboutus{width:700px;position:relative;left:50%;margin-left:-350px;}*/
.title{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	color:#673100;
	font-family:"微软雅黑";
	font-size:20px;
	line-height:50px;
    border-bottom:solid 1px #b9bcc1;
    _padding-bottom:10px;
	}

.con_text{
	margin-left:auto;
	margin-right:auto;
	font-family:"微软雅黑";
	font-size:12px;
	color:#351f21;
	}
.con_text p{
    text-indent: 2em;
}
.line_yellow{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	}
