@charset "utf-8";
/* CSS Document */
    .loginbox {       
        font-family: "微软雅黑";
        font-size: 16px;
        color: #b7834c;            
        margin-bottom:5%;
    }

    .image {
        padding-left:30%;
        margin-right:3%;
    }

    .inputbox {
        height:50px;
        width:100%;
        margin:0;        
    }

     .reginputbox {
        height:40px;
        width:100%;
        margin:0;        
    }
     /*注册页面的注册按钮*/
    .regbtn {
        /*display:block;*/
        width:100%;
        background-color: #734912;
        border: 1px solid #734912;
        height: 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        cursor:pointer;
    }

    /*注册页面的登录按钮*/
    .logbtn {
        background-color: #FFF;
        border: 1px solid #734912;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        cursor:pointer;
        font-size:18px;
    }


    .loginbox .remenber {
        width:100%;
        height:20px;
    }

        .loginbox .remenber .check {
            float: left;
            border: 1px solid #ccd1d9;
            width: 18px;
            height: 18px;
            color: #999;
            background-position: 0px 0px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .loginbox .remenber .text {
            float: left;
            color: #908f90;
            font-size: 12px;
            margin: 20px 0;
        }

        .loginbox .remenber .forget {
            color: #629bcb;
            display: inline-block;
            float: right;
        }

            .loginbox .remenber .forget a {
            float: right;
                margin-right: 10px;
                margin-top: 20px;
                color: #908f90;
            }
/*登录页面的登录框*/
.now_login {
    background-color: #734912;
    border: 1px solid #734912;
    width: 91%;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    cursor:pointer;
}

.log_text {
    float:left;
    color: #FFF;
    font-size: 18px;
    line-height:46px;
    cursor:pointer;
    font-family:"微软雅黑";
}


.reg_text {
    color: #FFF;
    font-size: 18px;
    line-height:40px;
    cursor:pointer;
    font-family:"微软雅黑";
    /*margin-right:125px;*/
    margin-right:35%;
}
.reg_text2 {
    color: #734912;
    font-size: 18px;
    line-height:40px;
    cursor:pointer;
    font-family:"微软雅黑";
    /*margin-right:100px;*/
    margin-right:32%;
}

.form-group hr {
    width:100%;
    border-top:1px solid #dcc6a9;
    margin-top:0px;
    margin-bottom:10px;
}

.yes_line {
    width: 100%;
    color: #908f90;
    font-size: 12px;
    text-align: center;
    height: 15px;
}
/*登录页面的注册框*/
.now_reg {
    background-color: #FFF;
    border: 1px solid #734912;
    width: 91%;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.iog_img2 {    
    float: left;
    margin-top: 12px;
    margin-left: 32%;
    margin-right:3%;
}

.iog_img {
    float: left;
    margin-top: 12px;
    margin-left: 38%;
    margin-right:3%;
}
.iog_img3 {
    float: left;  
    margin-left: 38%;
    /*margin-right:3%;*/
    margin-top:7px;
}
.iog_img4 {
    float: left;  
    margin-left: 32%;
    /*margin-right:3%;*/
    margin-top:5px;
}

.now_login a {
    color: #FFF;
    display: block;
}

.now_reg a {
    display: block;
}

.log_color {
    color: #734912;
}

#form1{
    vertical-align:middle;
}
.link-text-color a{
    color:#629bcb;
}