@charset "utf-8";
/* CSS Document */

.item_text{
	font-family:"微软雅黑";
	font-size:14px;
	color:#673100;
	text-align:right;
	float:left;
    height:30px;
    line-height:30px;
    width:30%;
    margin-right:5px;
	} 
.text{
	margin-top:15px;
	height:20px;
	width:727px;
	}
.text li{
	float:left;
	}
.text_1{
	font-family:"微软雅黑";
	font-size:16px;
	color:#351f21;
	}
.text_2{
	font-family:"微软雅黑";
	font-size:16px;
	color:#c7a17d;
	}
.text_3{
	font-family:"微软雅黑";
	font-size:13px;
	color:#351f21;
	line-height:25px;
	}
.text_4{
	height:23px;
	width:90px;
	font-size:10px;
	color:#565656;
	-webkit-border-radius: 2px;
     -moz-border-radius:2px;
	      border: 1px solid #c6c6c6;
	 background: #fefefe;
	background: -webkit-linear-gradient(top,#fefefe 0,#dadada 100%);
	background: -moz-linear-gradient(top,#fefefe 0,#dadada 100%);
	background: -o-linear-gradient(top,#fefefe 0,#dadada 100%);
	background: linear-gradient(to bottom,#fefefe 0,#dadada 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fefefe,endColorstr=#dadada,GradientType=0);
	}
.table_all{
	margin-top:30px;
	/*margin-left:150px;*/
	}
.table_text{
	height:50px;
	line-height:50px;
	font-family:"微软雅黑";
	font-size:14px;
	color:#673100;
	text-align:right;
    padding-right:15px;
    vertical-align:middle;
	}
.password{
	float:left;
	border:1px solid #ccd1d9;
	width: 240px;
    padding: 10px;
    margin: 10px;
	height:15px;
    -webkit-border-radius: 5px;
     -moz-border-radius:5px;
	margin-left:20px;
	}
.yes{
	width:130px;
	height:42px;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	background:url(Images/form/confirm.png);
	color:#FFF;
	text-align:center;
	line-height:42px;
	font-family:"微软雅黑";
	font-size:20px;
	}
.yes a{
	color:#FFF;
	font-size:20px;
	font-family:"微软雅黑";
	line-height:42px;
	}
	 