@model FCake.Domain.Common.Pad.Pagination
<div class="" style="">
    <button id="moredata" class="control-morebutton btn btn-info col-xs-12 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5" type="button" data-page="@Model.Page" data-pagesize="@Model.PageSize"
            data-pagecount="@Model.PageCount" data-totalcount="@Model.TotalCount">
        更多数据
    </button>
</div>
<style type="text/css">
    .center {
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>