@{
    ViewBag.Title = "活动中心";
}

<div class="connent" style="margin:0; text-align:center;">
    <img style="margin:auto;" src="@Url.Content("~/content/images/activecenter/valentinesDay_Mobile.jpg")" />
</div>
