@{
    ViewBag.Title = "联系我们";
}
<link href="~/Content/contactUs.css" rel="stylesheet" />
<div class="title1">
    联系我们<img src="../Content/Images/form/slash.png" height="15">
</div>
<div class="line_gray"></div>
<div class="bigbox" style="height:395px;">
    <div class="addr"><b>地址：</b>厦门市湖里区长岸路寨上公交场站旁</div>
    <div class="divM"><b>全国咨询电话：</b>4000-569-565</div>
    <div class="divX"><b>公司信箱：</b>service@fancake.cn</div>
    <div class="divX1"><b>公司网址：</b>http://www.fancake.cn</div>
</div>
