@{
    ViewBag.Title = "关于我们";
}
<link href="~/Content/global.css" rel="stylesheet" type="text/css">
<link href="~/Content/aboutus.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .imgwrap {
        width: 100%;
        overflow:hidden;
    }
    .imgwrap img {
        width:100%;
        display:block;
    }
    img {
    	max-width: 100%;
    	width: auto;
    }
</style>

<div class="container" style="text-align:center;">
    <img src="~/Content/images/aboutus.jpg" />
</div>