@{
    ViewBag.Title = "活动中心";
}
<link href="../Content/global.css" rel="stylesheet" type="text/css">
<link href="../Content/activecenter.css" rel="stylesheet" type="text/css" />

@*<div class="connent">
</div>*@
<div style="margin:0; text-align:center;">
    <img style="margin:auto; width:1200px;" src="@Url.Content("~/content/images/activecenter/valentinesDay_PC.jpg")" />
</div>
