@{
    ViewBag.Title = "联系我们";
}
<link href="~/Content/contactUs.css" rel="stylesheet" />
<div class="title1">
    联系我们<img src="~/Content/Images/form/slash.png">
</div>
<div class="line_gray"></div>
<div class="bigbox">
    <h3 class="h2">@*枫氏食品有限公司*@</h3>
    <div class="addr"><b>地址：</b>厦门市湖里区长岸路寨上公交场站旁</div>
    <div class="divM"><b>全国咨询电话：</b>400-0569-565</div>
    <div class="divM"><b>传真：</b></div>
    <div class="divX"><b>公司信箱：</b>service@fancake.cn</div>
    <div class="divX1"><b>公司网址：</b>http://www.fancake.cn</div>
</div>
