@{
    ViewBag.Title = "订购帮助";
}
<link href="~/Content/contactUs.css" rel="stylesheet" />
<style>
    .bigbox {
        width: 700px;
        color: #4a2118;
    }

    .ibox {
        margin-top: 40px;
    }
    .ibox li{
        list-style-type:none;
        margin-top:20px;
    }
</style>
<div class="title1">
    订购帮助<img src="~/Content/Images/form/slash.png">
</div>
<div class="line_gray"></div>
<div class="bigbox">
    <div class="ibox">
        <img src="~/Content/images/OrderHelper.png" />
    </div>
    <div class="ibox">
        <ul>
            <li>
                <b>1、注册/登录FANCAKE官网</b>
                <br />
                如果您未在网站注册过，点击官网首页右上角【注册】按钮，根据提示进行账号注册；如果您已注册过，只需点击首页右上角【登录】按钮，输入帐号密码即可登录。（本网站也为用户提供了快速购买通道，请联系客服）。
                <br />
            </li>
            <li>

                <b>2、选购商品放入购物车</b>
                <br />
                浏览/筛选您需要的商品，点击"立即购买"或放入"我的购物车"；进入购物车后，如果您还想购买其他感兴趣的商品，点击商品列表下方【继续购物】按钮即可；如果您不需要其他商品，即可点击商品列表下方的【结算】即进入结算页面。
                <br>
            </li>

            <li>

                <b>3、填写收货信息</b>
                <br />
                在收货信息页面填写订货人的详细信息。为了保证您的商品顺利配送，请准确填写收货人的姓名、地址、电话、配送时间等收货信息。<br />
            </li>

            <li>

                <b>4、选择配送方式</b>
                <br />
                填写收货人信息后，您可以根据您所在地区和时间要求选择您想要的送货方式。可以选择由FANCAKE配送至收货地址，也可以到指定自提点地点进行自提。<br />
            </li>

            <li>

                <b>5、选择付款方式</b>
                <br />
                完成收货人信息填写后，即可选择该订单付款方式，有货到付款和网上支付供您选择，如果账户内有代金券等，可进行相应勾选。<br />
            </li>

            <li>

                <b>6、订单提交完成</b>
                <br />
                填写并确认完以上信息，您就可以放心提交此订单，等待收货了。在提交订单后，您也可以通过会员中心"我的账户->订单列表"查询您的订单状态。<br />
            </li>

        </ul>
    </div>
</div>